

<%= simple_form_for @game, url: games_path, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-5 col-md-5"},
  label_html: {class: "col-lg-2 col-md-2"} }, html: {class: "form-horizontal", :role => "form", :multipart => true} do |f| %>


    <%= f.input :title, :label => "Title" %>
    <%= f.input :description, :label => "Description" %>

    <%= f.submit "開啟", :class => "btn btn-primary", :"data-disable-with" => "請稍後..." %>

  </div>

<% end %>