<h1><%= @game.title %></h1>

<p><%= @game.description %></p>




<% if @game.user != current_user %>

  <% if !current_user.participated?(@game) %>
    <%= link_to "Join", join_form_game_path(@game), :class => "btn btn-primary" %>
  <% end %>

  <% if current_user.participated?(@game) %>
    <%= link_to "Quit", quit_game_path(@game), :method => :delete, :class => "btn btn-primary" %>
  <% end %>
<% end %>

